<a href="https://colab.research.google.com/github/HappySUHEAN/Suhean-s-Pot/blob/main/(4)%EB%B0%B1%EC%88%98%ED%98%84_(%EB%8D%B0%EC%82%AC_%EC%99%84%EC%A3%BC%EB%B0%98)_6%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [6주차 코딩 실습](04. MySQL_45. 테이블 객체 생성을 위한 클래스 작성 및 저장)강의자료를 참고하여 아래 조건에 맞게 컬럼데이터를 작성하고, 테이블 객체 생성을 위한 클래스를 생성해보세요.(20점)

* 클래스명 : EPL, 테이블 이름 : EPL1

* index : column(Integer, primary_key = True)

* name : column(string(20))

* gf = column(Integer)

* ga = column(Integer)

In [3]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [6]:
# 여기에 코드를 작성하세요
Base = declarative_base()

class EPL(Base):

  __tablename__ = "EPL1"

  EPL1_index = Column(Integer, primary_key = True)
  name : Column(String(20))
  gf = Column(Integer)
  ga = Column(Integer)

  def __init__(self, index, name, gf, ga):
    self.index = index
    self.name = name
    self.gf = gf
    self.ga = ga

    def __repr__(self):
      return "<EPL {}, {}, {}>".format(
          self.name, self.gf, self.ga)